body {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f8fff3;
}

body a {
	color: #000;
	text-decoration: none;
}

body a:hover {
	color: #000;
	text-decoration: none;
}

#section_content .tab_nav {
	margin: 0 auto;
    margin-bottom: 30px;
    padding: 35px 70px;
    box-shadow: 0px -1px 14px 1px #ccc;
    background-color: #fff; 
}

.about-category {
	border: 2px solid #ccc;
    border-bottom-left-radius: 5px;
    border-top: 0;
    border-bottom-right-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.about-category h2 {
	line-height: 20px;
    padding: 10px 0 15px 0;
    border-bottom: 5px solid #d3a971;
    text-align: center;
    font-size: 20px;
}

.decs span a {
	font: 13px 'Tohama';
	text-decoration: none;
}

.about-category .items {
	border-bottom: 3px solid #ecc096;
    padding: 10px 0;
}

.about-category .items:hover {
	background: #d3d971;
}

@media screen and (max-width: 768px) {
	#section_content .tab_nav {
	    margin: 0 auto;
	    margin-bottom: 30px;
	    padding: 30px 30px;
	    box-shadow: 0px -1px 14px 1px #ccc;
	}

	.decs span a {
	    font-size: 20px;
	    }

	.card .img_resp {
	height: 100%;
	}
}

.card .img_resp {
	width: 100%;
	height: 200px;
}

.card-body .news_card_text {
	height: 4.7em;
    line-height: 1.2em;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.servicesCellHead .borderedDec {
	height: 14px;
    border-bottom: 2px dotted;
    border-top: 2px dotted;
    position: relative;
    color: #c7d2d9;
    margin-bottom: 14px;
}

.servicesCellHead .borderedDec:after {
	width: 100%;
    left: 0;
    content: "";
    height: 6px;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
    top: 2px;
    position: absolute;
}

.news-title-after {
	position: relative;
	height: 14px;
    color: #c7d2d9;
    margin-bottom: 10px;
}

.news-title-after:after {
	width: 100%;
    left: 0;
    content: "";
    height: 6px;
    border-top: 2px dotted;
    border-bottom: 2px dotted;
    top: 2px;
    position: absolute;
}

.news-card {
	padding: 10px;
    background: #fff;
    box-shadow: -1px 2px 5px 1px #daded8;
}

.news-card .hover-news-card {
	border: none;
	color: #000;
	transition: .3s !important;
}

.news-card .hover-news-card img {
	transition: .5s;
}

.news-card .hover-news-card div {
	overflow: hidden; 
}

.news-card .hover-news-card:hover {
	box-shadow: 0px 2px 8px 1px #ccc;
}

.news-card .hover-news-card:hover img {
	transform: scale(1.1);
}

.news_content .news_text {
	text-align: justify;
    font-size: 13px;
    height: 3.6em;
    line-height: 1.2em;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-indent: 20px;
}

.news_content h3 {
	font-size: 20px;
    /*margin-bottom: -5px;*/
    display: block;
}

.news_content .news-item-date {
	/*margin-bottom: 10px;
    border: 1px solid #8eeaa0;
    padding: 2px 5px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.50);
    background: linear-gradient(to bottom, #d86f24 0%,#ceba56 0%,#eadb6c 40%,#d8d04d 41%,#1f8232 99%,#b9bb29 99%);*/

        text-align: right;
    margin-top: -10px;
    font-size: 12px;
}

.media_news .img-thumbnail {
	border-color: #ecc096;
}

.right_dark_overly {
	background: rgb(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.card .right_year_title {
	position: absolute;
    text-align: center;
    font-size: 20px;
    bottom: 0;
    color: #9cca7d;
}

.statistic-title h3 span {
	display: block;
    margin: -5px 0 0 0;
    padding: 0;
    border-bottom: 3px solid #ebca9e;
    font-size: 20px;
    line-height: 20px; 
    margin-top: 5px;
}

.side-block {
	margin-top: 25px;
}

.side-block h2 {
	font-size: 1.5rem;
	font-family: inherit;
    font-weight: 500; 
    line-height: 1.1;
    color: inherit;
}

.side-block h2 a {
	text-decoration: none;
	margin-bottom: 15px;
	color: #000;
	transition: .3s;
}

.side-block h2 a:hover {
	color: #cca862;
}

.side-block h2 span {
	display: block;
    margin: -5px 0 0 0;
    padding: 0;
    border-bottom: 3px solid #ebca9e;
    font-size: 20px;
    line-height: 20px; 
    margin-top: 5px;
}

.side-block .item {
	/*background: linear-gradient(to bottom, #f8f8f8 0%,#d0d0d0 100%);*/
	background: #fff; 
}

.side-block .item a {
	/*border: 1px solid #dadada;
    border-bottom-width: 3px;*/
    padding: 15px;
    display: block;
    /*border-radius: 5px;*/
    min-height: 90px;
    text-decoration: none;
    box-shadow: 1px 2px 5px 1px #daded8;
}

.side-block .item a:hover {
	box-shadow: 0px 2px 6px 1px #ccc;
	/*border-color: #e2b178;
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);*/
}

.item .item-date {
	border-bottom: 2px solid #eedc8e;
    padding: 6px 10px;
    margin-top: 6px;
    border: 1px solid #8eeaa0;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
    display: inline-block;
    background: linear-gradient(to bottom, #d86f24 0%,#ceba56 0%,#eadb6c 40%,#d8d04d 41%,#1f8232 99%,#b9bb29 99%);
}

.item .item-date .item-day {
	font-size: 20px;
	border-bottom: 1px solid #fff;
}

.item .item-date .item-month {
	font-size: 15px;
}

.item .item_icon {
	font-size: 30px;
	padding-top: 10px;
}